<li>
	{{name}}

	<button class="devour-burger" data-id="{{id}}" data-devoured="{{devour}}">
		{{#if devour}}Devour it!{{else}}Devoured!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
